<div class="list">
  <h2>Please fill out the list!</h2>
  <label>
    <input type="checkbox">
    <i></i>
    <span>I like pizza.</span>
  </label>
  <label>
    <input type="checkbox">
    <i></i>
    <span>I like Biryani.</span>
  </label>
  <label>
    <input type="checkbox">
    <i></i>
    <span>I like orange juice.</span>
  </label>
  <label>
    <input type="checkbox">
    <i></i>
    <span>I like chicken.</span>
  </label>
  <label>
    <input type="checkbox">
    <i></i>
    <span>I like Mangoes.</span>
  </label>
</div>
